<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snap Paste</title>
    <head>
        <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    </head>
</head>
<body>
<div class="page">
    <h1 class="description">[ Paste text - CTRL + S to save ]</h1>
    <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="paste-text-box" name="paste"></textarea>
</div>
<script src="/js/main.js"></script>
</body>
</html>